// Footer
footer(class="footer")
    div(class="container")
        div(class="row footer_logo_row")
            div(class="col d-flex flex-row align-items-center justify-content-center")
                div(class="logo")
                    a(href="#") 429 <span>podcast</span><img src="images/rate_logo.png">
        
        div(class="row footer_content_row")


            // Tags

            div(class="col-lg-4")
                div(class="footer_title") Tags
                div(class="footer_list")
                    div
                        a(href="#") technology
                    div
                        a(href="#") programming
                    div
                        a(href="#") development
                    div
                        a(href="#") chilling
                    div
                        a(href="#") social
                    div
                        a(href="#") viral
        
            
            // Gallery
            div(class="col-lg-8")
                div(class="footer_title") Instagram
                div(class="gallery d-flex flex-row align-items-start justify-content-start flex-wrap")

                    // Gallery Item
                    div(class="gallery_item")   
                        a(class="colorbox" href="images/gallery_1_large.jpg")
                            img(src="images/gallery_1.jpg")

                    // Gallery Item
                    div(class="gallery_item")   
                        a(class="colorbox" href="images/gallery_2_large.jpg")
                            img(src="images/gallery_2.jpg")

                    // Gallery Item
                    div(class="gallery_item")   
                        a(class="colorbox" href="images/gallery_3_large.jpg")
                            img(src="images/gallery_3.jpg")

                    // Gallery Item
                    div(class="gallery_item")   
                        a(class="colorbox" href="images/gallery_4_large.jpg")
                            img(src="images/gallery_4.jpg")

        div(class="row footer_social_row")
            div(class="col")
                div(class="footer_social")
                    ul(class="d-flex flex-row align-items-center justify-content-center")
                        li
                            a(href="#")
                                i(class="fa fa-facebook" aria-hidden="true")
                        li
                            a(href="#")
                                i(class="fa fa-twitter" aria-hidden="true")
                        li
                            a(href="#")
                                i(class="fa fa-instagram" aria-hidden="true")
                        li
                            a(href="#")
                                i(class="fa fa-youtube-play" aria-hidden="true")

// End of Footer