// Footer
footer(class="footer")
    div(class="container")
        div(class="row footer_logo_row")
            div(class="col d-flex flex-row align-items-center justify-content-center")
                div(class="logo")
                    a(href="#") 429 <span>podcast</span><img src="images/rate_logo.png">
        
        div(class="row footer_content_row")


            // Tags

            div(class="col-lg-12")
                div(class="footer_title text-center" style="color:white") Tags
                div(class="footer_list text-center")
                    div
                        h4
                            span(class="badge badge-pill badge-dark") technology
                    div
                        h4
                            span(class="badge badge-pill badge-dark") programming
                    div
                        h4
                            span(class="badge badge-pill badge-dark") development
                    div
                        h4
                            span(class="badge badge-pill badge-dark") chilling
                    div
                        h4
                            span(class="badge badge-pill badge-dark") social
                    div
                        h4
                            span(class="badge badge-pill badge-dark") viral
        
            
            //- // Gallery
            //- div(class="col-lg-8")
            //-     div(class="footer_title") Instagram
            //-     div(class="gallery d-flex flex-row align-items-start justify-content-start flex-wrap")

            //-         // Gallery Item
            //-         div(class="gallery_item")   
            //-             a(class="colorbox" href="images/gallery_1_large.jpg")
            //-                 img(src="images/gallery_1.jpg")

            //-         // Gallery Item
            //-         div(class="gallery_item")   
            //-             a(class="colorbox" href="images/gallery_2_large.jpg")
            //-                 img(src="images/gallery_2.jpg")

            //-         // Gallery Item
            //-         div(class="gallery_item")   
            //-             a(class="colorbox" href="images/gallery_3_large.jpg")
            //-                 img(src="images/gallery_3.jpg")

            //-         // Gallery Item
            //-         div(class="gallery_item")   
            //-             a(class="colorbox" href="images/gallery_4_large.jpg")
            //-                 img(src="images/gallery_4.jpg")

        div(class="row footer_social_row")
            div(class="col")
                div(class="footer_social")
                    ul(class="d-flex flex-row align-items-center justify-content-center")
                        li
                            a(href="https://www.facebook.com/The-429-Podcast-102040634910165/")
                                i(class="fa fa-facebook" aria-hidden="true")
                        li
                            a(href="https://twitter.com/the429podcast")
                                i(class="fa fa-twitter" aria-hidden="true")
                        li
                            a(href="https://www.instagram.com/the429podcast/")
                                i(class="fa fa-instagram" aria-hidden="true")
                        li
                            a(href="https://www.youtube.com/channel/UC54q5_DH3OtLLby6hPsiW8A?view_as=subscriber")
                                i(class="fa fa-youtube-play" aria-hidden="true")

// End of Footer