// Header
header(class="header trans_400")

    div(class="logo")
        a(href="#") 429 <span>podcast</span><img src="images/rate_logo.png">
    

    div(class="container")
        div(class="row")
            div(class="col")
                div(class="header_content d-flex flex-row align-items-center justify-content-start trans_400")
                    nav(class="main_nav")
                        ul(class="d-flex flex-row align-items-start justify-content-start")
                            li
                                a(href="https://www.facebook.com/The-429-Podcast-102040634910165/")
                                    i(class="fa fa-facebook" aria-hidden="true")
                            li
                                a(href="https://twitter.com/the429podcast")
                                    i(class="fa fa-twitter" aria-hidden="true")
                            li
                                a(href="https://www.instagram.com/the429podcast/")
                                    i(class="fa fa-instagram" aria-hidden="true")
                            li
                                a(href="https://www.youtube.com/channel/UC54q5_DH3OtLLby6hPsiW8A?view_as=subscriber")
                                    i(class="fa fa-youtube-play" aria-hidden="true")




    div(class="header_right d-flex flex-row align-items-start justify-content-start")

        
        strong(style="padding-right: 0.2em; color: white;") Follow Us
    
        div(class="social")
            ul(class="d-flex flex-row align-items-start justify-content-start")
                li
                    a(href="https://www.facebook.com/The-429-Podcast-102040634910165/")
                        i(class="fa fa-facebook" aria-hidden="true")
                li
                    a(href="https://twitter.com/the429podcast")
                        i(class="fa fa-twitter" aria-hidden="true")
                li
                    a(href="https://www.instagram.com/the429podcast/")
                        i(class="fa fa-instagram" aria-hidden="true")
                li
                    a(href="https://www.youtube.com/channel/UC54q5_DH3OtLLby6hPsiW8A?view_as=subscriber")
                        i(class="fa fa-youtube-play" aria-hidden="true")

// End of Header