// Header
header(class="header trans_400")

    div(class="logo")
        a(href="#") 429 <span>podcast</span><img src="images/rate_logo.png">
    

    div(class="container")
        div(class="row")
            div(class="col")
                div(class="header_content d-flex flex-row align-items-center justify-content-start trans_400")
                    //- nav(class="main_nav")
                    //-     ul(class="d-flex flex-row align-items-start justify-content-start")
                    //-         li
                    //-             a(href="/") Home
                    //-         li
                    //-             a(href="/about") About
                    //-         li
                    //-             a(href="#") Contact



    div(class="header_right d-flex flex-row align-items-start justify-content-start")


        div(class="social")
            ul(class="d-flex flex-row align-items-start justify-content-start")
                li
                    a(href="#")
                        i(class="fa fa-facebook" aria-hidden="true")
                li
                    a(href="#")
                        i(class="fa fa-twitter" aria-hidden="true")
                li
                    a(href="#")
                        i(class="fa fa-instagram" aria-hidden="true")
                li
                    a(href="#")
                        i(class="fa fa-youtube-play" aria-hidden="true")

// End of Header