/* public/style.css */

body {
    background: white;
}

@media only screen 
    and (device-width : 375px) 
    and (device-height : 812px) 
    and (-webkit-device-pixel-ratio : 3) {

    .homeStyle {
        height: 50em;
        padding-top: 10em;
    }

    .styleName {
      display:none;
      height: 70em
  }
  
}

@media only screen 
    and (device-width : 375px) 
    and (device-height : 812px) 
    and (-webkit-device-pixel-ratio : 3)
    and (orientation: landscape) {

  .styleName {
      height: 60em
  }
  
}

/* @media (max-width: 667px) {
  .homeStyle {
      height: 50em;
      padding-top: 10em;
  }
}

@media (max-width: 667px) {
  .styleName {
      display:none;
      height: 70em
  }
}


@media (max-width: 900px) {
  
} */