/* public/style.css */

body {
    background: white;
}

.homeStyle {
  padding-top: 0em;
  top: 20% !important;
}

/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  right: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  padding: 20px;
}

@media screen and (max-height: 1440px) {
  /* .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;} */


  .styleName {
    height: 45em
  }

  .home_button{
    margin-top: 2em !important;
  }

  .headphone_img {
    margin-top: 3em;
  }

}

@media screen and (max-height: 1366px) {
  /* .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;} */


  .styleName {
    height: 45em
  }

  .home_button{
    margin-top: 2em !important;
  }

  .headphone_img {
    margin-top: 3em;
  }

}

@media screen and (device-height: 1024px) {

  .styleName {
    height: 60em !important
  }

  .home_button{
    margin-top: 2em !important;
  }

  .headphone_img {
    margin-top: 10em;
  }

}


@media screen and (max-height: 1024px) {
  /* .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;} */


  .styleName {
    height: 40em
  }

  .home_button{
    margin-top: 2em !important;
  }

}

@media screen and (max-height: 899px) {
  /* .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;} */

  .homeStyle {
    height: 150em;
    padding-top: 55em;
    top: 55% !important;
  }

  .styleName {
    display:none;
    /* /height: 100em */
  }

  .home_button{
    margin-top: 2em !important;
  }

}

@media screen and (max-height: 859px) {
  /* .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;} */

  .homeStyle {
    height: 150em;
    padding-top: 55em;
    top: 55% !important;
  }

  .styleName {
    display:none;
    /* /height: 100em */
  }

  .home_button{
    margin-top: 2em !important;
  }

}


@media screen and (max-height: 811px) {
  /* .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;} */

  .homeStyle {
    height: 120em;
    padding-top: 40em;
    top: 55% !important;
  }

  .styleName {
    display:none;
    /* /height: 100em */
  }

  .home_button{
    margin-top: 1em !important;
  }

}

@media only screen 
    and (device-width : 375px) 
    and (device-height : 812px) 
    and (-webkit-device-pixel-ratio : 3) {

    .homeStyle {
      height: 50em;
      padding-top: 5em;
      top: 55% !important;
    }

    .styleName {
      display:none;
      height: 70em
    }

    .home_button{
      margin-top: 5em !important;
    }
  
}

@media only screen 
    and (device-width : 375px) 
    and (device-height : 812px) 
    and (-webkit-device-pixel-ratio : 3)
    and (orientation: landscape) {

  .styleName {
      height: 60em
  }
  
}



/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 650px) {
  /* .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;} */

  .homeStyle {
    height: 120em;
    padding-top: 40em;
    top: 55% !important;
  }

  .styleName {
    display:none;
    /* /height: 100em */
  }

  .home_button{
    margin-top: 2em !important;
  }

}

@media screen and (device-height: 568px) {
  /* .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;} */

  .homeStyle {
    height: 130em;
    padding-top: 52em;
    top: 55% !important;
  }

  .styleName {
    display:none;
    /* /height: 100em */
  }

  .home_button{
    margin-top: 2em !important;
  }

}

/* @media (max-width: 667px) {
  .homeStyle {
      height: 50em;
      padding-top: 10em;
  }
}

@media (max-width: 667px) {
  .styleName {
      display:none;
      height: 70em
  }
}


@media (max-width: 900px) {
  
} */